.containerHomePageClient{
    border: 1px solid #000;
}
.contentHomePageClient{
    display: flex;
    justify-content: space-between;
}
button{
    display: flex;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}