.registerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    width: 200px;
}

select{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 200px;

}


.registerContent{
    text-align: center;
}